*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,Arial,sans-serif;
}

:root{

    --verde:#177245;
    --verde-hover:#218a57;

    --fondo:#111315;
    --panel:#1b1d20;
    --panel2:#23262a;

    --borde:#32363a;

    --texto:#f2f2f2;
    --texto2:#bcbcbc;

}

body{

    background:var(--fondo);
    color:var(--texto);

}

.app{

    width:95%;
    max-width:1500px;

    margin:20px auto;

    background:var(--panel);

    border-radius:16px;

    overflow:hidden;

    box-shadow:0 20px 60px rgba(0,0,0,.45);

}

.topbar{

    background:var(--verde);

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:22px 30px;

}

.topbar h1{

    color:white;

    font-size:38px;

}

.topbar p{

    color:#dff5e8;

    margin-top:5px;

}

.estado{

    background:white;

    color:var(--verde);

    padding:12px 20px;

    border-radius:30px;

    font-weight:bold;

}

main{

    display:grid;

    grid-template-columns:45% 55%;

}

section{

    padding:30px;

}

.mensaje{

    border-right:1px solid var(--borde);

}

.comanda{

    background:var(--panel2);

}

h2{

    margin-bottom:20px;

}

textarea{

    width:100%;

    min-height:250px;

    background:#121416;

    color:white;

    border:2px solid var(--borde);

    border-radius:12px;

    resize:none;

    padding:18px;

    font-size:16px;

}

textarea:focus{

    outline:none;

    border-color:var(--verde);

}

button{

    width:100%;

    margin-top:20px;

    background:var(--verde);

    color:white;

    border:none;

    padding:18px;

    border-radius:12px;

    font-size:18px;

    cursor:pointer;

    transition:.2s;

}

button:hover{

    background:var(--verde-hover);

}

#pedido{

    min-height:500px;

    background:#181a1c;

    border:1px solid var(--borde);

    border-radius:12px;

    padding:30px;

}

.ticket{

    animation:aparecer .25s ease;

}

.ticket-header{

    text-align:center;

    font-size:30px;

    font-weight:bold;

    color:#63dd93;

    margin-bottom:25px;

}

.ticket hr{

    border:none;

    border-top:1px solid #444;

    margin:20px 0;

}

.ticket div{

    margin:12px 0;

    font-size:18px;

}

.lista-pedido{

    margin-left:20px;

}

.lista-pedido li{

    margin:10px 0;

}

.vacio{

    display:flex;

    align-items:center;

    justify-content:center;

    height:430px;

    color:#777;

    font-size:22px;

}

footer{

    border-top:1px solid var(--borde);

    text-align:center;

    color:#888;

    padding:15px;

}

@keyframes aparecer{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@media(max-width:900px){

    main{

        grid-template-columns:1fr;

    }

    .mensaje{

        border-right:none;

        border-bottom:1px solid var(--borde);

    }

}